@charset "UTF-8";
html {
  font-size: 62.5%;
}

/* 1. Box sizing წესი ყველა ელემენტისთვის */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. სტანდარტული margin-ების მოცილება */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* 3. სიმაღლის გასწორება HTML და Body-სთვის */
html,
body {
  height: 100%;
}

/* 4. ტექსტის რენდერინგის გაუმჯობესება */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. სურათების რესპონსივობა */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. სიების სტილის მოცილება (სურვილისამებრ) */
ul,
ol {
  list-style: none;
}

/* 7. ბმულების ხაზგასმის მოცილება */
a {
  text-decoration: none;
  color: inherit;
}

/* 8. ღილაკების სტანდარტული ბორდერების მოცილება */
button {
  cursor: pointer;
  border: none;
  background: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

body {
  max-width: 60rem;
}

header {
  padding: 2rem 2.4rem;
}
header .hdr {
  display: flex;
  justify-content: space-between;
}
header .hdr img {
  height: 2.4rem;
}
header .hdr .hdr-action {
  display: flex;
  justify-content: space-between;
  gap: 3.6rem;
}
header .hdr .hdr-action .dropdown {
  width: 100%;
  display: block;
  text-decoration: none;
}
header .hdr .hdr-action .dropdown img {
  width: 2.4rem;
}
header .hdr .hdr-action .dropdown .content {
  display: none;
  position: absolute;
  padding: 0.8rem 5.95rem 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
header .hdr .hdr-action .dropdown .content li {
  margin: 0.8;
}
header .hdr .hdr-action .dropdown .content .nav-btn-item button {
  background-color: #052A44;
  padding: 0.8rem 1.2rem;
  color: #FFFFFF;
  font-size: 1.4rem;
  border-radius: 0.8rem;
}
header .hdr .hdr-action .dropdown:hover .content {
  display: block;
  justify-content: center;
  align-items: center;
}

main {
  padding: 2rem 2.4rem;
}
main .main-hdr {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
main .main-hdr h1 {
  font-size: 4rem;
  color: #183B56;
}
main .main-hdr p {
  color: #000000;
  font-size: 1.6rem;
  font-weight: 400;
}
main .main-hdr .main-hdr-btn-sec {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
main .main-hdr .main-hdr-btn-sec button {
  background-color: #052A44;
  padding: 0.8rem 1.2rem;
  color: #FFFFFF;
  font-size: 1.4rem;
  border-radius: 0.8rem;
}
main .main-hdr .main-hdr-btn-sec .main-hdr-btn-play {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
main .main-hdr .main-hdr-btn-sec .main-hdr-btn-play .main-hdr-btn-play-icon {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  box-shadow: 2px -2px 38px 0px rgba(0, 0, 0, 0.0784313725);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .hero-poster-div {
  width: 21.757rem;
  height: 17.542rem;
  border-radius: 0.86rem;
  background-color: #E8DB84;
  position: relative;
  margin-left: auto;
}
main .hero-poster-div .hero-sec {
  margin-top: 4.98rem;
}
main .hero-poster-div .hero-sec .hero-card-sec {
  display: flex;
  flex-direction: column;
  gap: 0.516rem;
  position: absolute;
  left: -3rem;
  top: 1rem;
}
main .hero-poster-div .hero-sec .hero-card-sec .card {
  padding: 0.733rem 0.88rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  box-shadow: 0.78px 1.55px 14.76px 0px rgba(0, 0, 0, 0.0784313725);
}
main .hero-poster-div .hero-sec .hero-card-sec .card h2 {
  font-weight: 700;
  font-size: 0.554rem;
}
main .hero-poster-div .hero-sec .hero-card-sec .card p {
  font-weight: 350;
  font-size: 0.443rem;
}
main .hero-poster-div .hero-sec .hero-card-sec .card img {
  width: 3.9rem;
  height: 0.97rem;
  position: static;
}
main .hero-poster-div .hero-sec .hero-card-sec .card .oval {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.114rem;
  height: 1.114rem;
  border-radius: 50%;
  background-color: #052A44;
}
main .hero-poster-div .hero-sec .hero-card-sec .card .oval p {
  font-size: 0.7rem;
  color: white;
  font-weight: 900;
}
main .hero-poster-div .hero-sec img {
  position: absolute;
  top: -25px;
  left: 3rem;
  width: 18.1rem;
  height: 20.036rem;
}

/*# sourceMappingURL=style.css.map */
