@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;
@use './base/_reset.scss' as *;
@use './base/typography' as *;


// mediaquery always takes default value of html 16px. so we must devide 
@media screen and (min-width: 90em) {
    body{
        min-width: 144rem;

   .hdr{
    background-color: $secondary-bg-color;
    color: $main-light-color;
    display: flex;
    .logo-sec{
        .logo, .logodark{
            display: none;
        }
        .desktopLogo{
            display: block;
            font-size: 2rem;

        }
    }
    .hdr-action{
        .switch-label{
            .dark, .light{
                display: none;
            }
            .logodarkDesk{display: inline-block;}
        }

        .dropdown{
            display: flex;

                .lines{
                    display: none !important;
                }
                
            }
            .content{
                display: contents !important;

                li{
                    display: inline-block !important;
                    gap: 3.5rem;
                    margin-right: 3.5rem;
                }
                
            }
    }
   }
}
}