# იგნორირება გაუკეთე Node მოდულებს (თუ იყენებ),
node_modules/

# იგნორირება გაუკეთე Sass-ის ქეშს და დროებით ფაილებს,
.sass-cache/
*.css.map

# იგნორირება გაუკეთე სისტემურ ფაილებს,
.DS_Store
Thumbs.db

# თუ არ გინდა style.css-ის ატანა (რადგან სხვამ თავისთან უნდა დააკომპილიროს),
CSS/style.css