@use '../abstracts/variables';

@mixin btn {
    background-color: variables.$secondary-bg-color;
    padding: 1.5rem 4.3rem;
    color: variables.$main-light-color;
    font-size: variables.$medium-text-size;
    border-radius: variables.$btn-radius;
}