@use '../abstracts/variables' as *;

@mixin btn {
    background-color: $secondary-bg-color;
    padding: $padding;
    color: $main-light-color;
    font-size: $mall-text-size;
    border-radius: $btn-radius;
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    
}

