$main-light-color: #FFFFFF; 
$dark-bg: #1E2A39; 
$secondary-bg-color: #052A44; 
$section-bg-color: #E8DB84;
$main-text-color: #000000;
$secondary-text-color: #071210;             
$placeholder-text-color: #1E1E1E;

// desktop

// $mall-text-size: 1.6rem;
// $medium-text-size: 1.8rem;
// $big-text-size: 2rem;
// $section-title-text-size: 4.2rem;
// $padding: 1.5rem 4.3rem;

// $header-radius: 1.2rem;
// $btn-radius: 0.8rem;
// $card-radius: 1.6rem;
// $section-radius: 2.9rem;
// $hero-card-radius: 1.374rem;

// Mobile 

$mall-text-size: 1.4rem;
$medium-text-size: 1.6rem;
$big-text-size: 1.8rem;
$section-title-text-size: 4rem;
$padding: 0.8rem 1.2rem;


$card-radius: 1rem;
$section-radius: 2.9rem;
$hero-card-radius: 0.6224rem;
$btn-radius: 0.8rem;